@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgb(1, 1, 1);
  font-size: 20px;
  font-family: 'Tillana', cursive;
  color: rgb(82, 79, 79);
  align-items: center;
  justify-content: space-between;
}
.words {
  display: flex;
}
ul {
  padding: 15px;
}

li {
  list-style: none;
  display: inline;
  padding: 20px;
}

.logo {
  align-items: center;
  padding: 0px 10px;
  width: 110px;
  height: 30px;
}
.triangle {
  width: 100%;
  height: 756px;
  display: block;
}
.singer-box {
  position: relative;
  color: white;
  text-align: center;
}
.bottom-left-1 {
  position: absolute;
  bottom: 282px;
  left: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 87px;
  text-align: left;
}
/* hover */
nav ul li a {
  text-decoration: none;
  color: rgb(192, 191, 191);
  text-transform: uppercase;
  position: relative;
  padding: 3px 0px;
}

nav li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0%;
  background: gold;
  transition: all 0.3s ease-in;
}
nav li a:hover:before {
  width: 100%;
}

a:hover {
  color: gold;
}
.about {
  padding: 0%;
  margin: 0%;
  background-color: rgb(25, 25, 23);
  width: 100%;
  height: 500px;
  color: whitesmoke;
  
  
}
.about_txt{
  color: whitesmoke;
  font-size: 50px;
  position: relative;
  top: 70px;
  left: 20px;
  font-family: 'Raleway', sans-serif;
  border-bottom: 2px solid gold;
  width: 350px;
  padding-left:0px ;   /* for creating spacing in about us for left */
}
.about_content{
  color: gold;
  font-size: 15px;
  position: relative;
  top:105px;
  left: 5px;
  margin-left: 20px;
  width: 333px;
  word-wrap: break-word;
  font-family: 'Fasthand', cursive;
}